@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
body {
    width: 1440px;
    height: 6575px;
}

#image1 {
    box-sizing: border-box;
    position: absolute;
    width: 112px;
    height: 66px;
    left: 121px;
    top: 21px;
    background: url(logo_mobile_black.png);
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#globe {
    position: absolute;
    width: 22px;
    height: 21px;
    left: 121px;
    top: 184px;
}
#smotret{position: absolute;
width: 363.72px;
height: 110.04px;
left: 70.66px;
top: 144.2px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 46px;
line-height: 101.38%;
/* or 47px */


color: #000000;}
#onlinecourse {
    position: absolute;
    width: 130px;
    height: 32px;
    left: 151px;
    top: 170px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* or 23px */
    color: #000000;
}

#clock {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 306px;
    top: 183px;
    background: url(img_135744.png);
}

#clocktxt {
    position: absolute;
    width: 130px;
    height: 32px;
    left: 338px;
    top: 170px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* or 23px */
    color: #000000;
}

#calendar {
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 22px;
    left: 467px;
    top: 183px;
    background: url(calendar_2.png);
    border: 1px solid #000000;
}

#ecent {
    position: absolute;
    width: 130px;
    height: 32px;
    left: 500px;
    top: 170px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* or 23px */
    color: #000000;
}

h1 {
    position: absolute;
    width: 628px;
    height: 190px;
    left: 122px;
    top: 248px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 101.38%;
    /* or 81px */
    color: #000000;
}

#ellipse {
    position: absolute;
    width: 0px;
    height: 41px;
    left: 921px;
    top: 558px;
    background: #efefef;
}

#naroot1 {
    position: absolute;
    width: 304px;
    height: 356px;
    left: 890px;
    top: 223px;
    background: url(noroot.png);
}

#p1 {
    position: absolute;
    width: 414px;
    height: 62px;
    left: 122px;
    top: 450px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    color: #000000;
}

#bluegorup {
    position: absolute;
    width: 483.63px;
    height: 200.02px;
    left: 409.39px;
    top: 666.62px;
}

#p2 {
    position: absolute;
    width: 430.59px;
    height: 113px;
    left: 435.42px;
    top: 667.88px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    color: #ffffff;
}

#p3 {
    position: absolute;
    width: 280.5px;
    height: 45.64px;
    left: 594px;
    top: 811px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    /* or 26px */
    text-align: right;
    color: #ffffff;
}

#rectangle {
    position: absolute;
    width: 483.63px;
    height: 200px;
    left: 409.39px;
    top: 666.62px;
    background: #1E4681;
    border-radius: 5px;
}

#h2 {
    position: absolute;
    width: 365px;
    height: 93px;
    left: 121px;
    top: 1040px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    /* or 56px */
    color: #000000;
}

#p4 {
    position: absolute;
    width: 662px;
    height: 374px;
    left: 121px;
    top: 1151px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    color: #000000;
}

#cameraman {
    position: absolute;
    width: 314px;
    height: 315px;
    left: 973px;
    top: 1175px;
    background: url(_1.png);
}

#photo1 {
    position: absolute;
    width: 232px;
    height: 203px;
    left: 121px;
    top: 1619px;
    background: url(photo.png);
}

#h31 {
    position: absolute;
    width: 150px;
    height: 39px;
    left: 485px;
    top: 1689px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    color: #000000;
}

#h32 {
    position: absolute;
    width: 150px;
    height: 39px;
    left: 730px;
    top: 1689px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    color: #000000;
}

#h33 {
    position: absolute;
    width: 150px;
    height: 39px;
    left: 973px;
    top: 1689px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    color: #000000;
}

#p51 {
    position: absolute;
    width: 150px;
    height: 39px;
    left: 485px;
    top: 1729px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    color: #000000;
}

#p52 {
    position: absolute;
    width: 150px;
    height: 39px;
    left: 730px;
    top: 1729px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    color: #000000;
}

#p53 {
    position: absolute;
    width: 150px;
    height: 39px;
    left: 973px;
    top: 1729px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    color: #000000;
}

#divh3 {
    position: absolute;
    width: 667px;
    height: 93px;
    left: 121px;
    top: 2000px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    /* or 56px */
    color: #000000;
}

#divh41 {
    position: absolute;
    width: 150px;
    height: 39px;
    left: 122px;
    top: 2182px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    color: #1E4681;
}

#divh42 {
    position: absolute;
    width: 214px;
    height: 39px;
    left: 467px;
    top: 2182px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    color: #1E4681;
}

#divh43 {
    position: absolute;
    width: 150px;
    height: 39px;
    left: 851px;
    top: 2182px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    color: #1E4681;
}

#divp1 {
    position: absolute;
    width: 223px;
    height: 39px;
    left: 122px;
    top: 2240px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    color: #000000;
}

#divp2 {
    position: absolute;
    width: 271px;
    height: 109px;
    left: 467px;
    top: 2240px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    color: #000000;
}

#divp3 {
    position: absolute;
    width: 245px;
    height: 39px;
    left: 851px;
    top: 2240px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    color: #000000;
}

#listDivul {
    position: absolute;
    width: 662px;
    height: 374px;
    left: 138px;
    top: 2624px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    color: #000000;
}

#listDivh {
    position: absolute;
    width: 667px;
    height: 93px;
    left: 121px;
    top: 2510px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    /* or 56px */
    color: #000000;
}

#iconh {
    position: absolute;
    width: 905px;
    height: 93px;
    left: 121px;
    top: 3246px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    /* or 56px */
    color: #000000;
}

#icondiv1 {
    position: absolute;
    width: 399px;
    height: 328px;
    left: 84px;
    top: 3434px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    z-index: 2;
}

#icon1 {
    position: absolute;
    width: 399px;
    height: 160px;
    left: 84px;
    top: 3434px;
    z-index: 2;
}

#icon1h {
    position: absolute;
    width: 365px;
    height: 39px;
    left: 104px;
    top: 3605px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
    z-index: 2
}

#icon1p {
    position: absolute;
    width: 365px;
    height: 63px;
    left: 103px;
    top: 3676px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    z-index: 2;
    color: #000000;
}

#icondiv2 {
    position: absolute;
    width: 399px;
    height: 328px;
    left: 520px;
    top: 3434px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    z-index: auto;
}

#icon2h {
    position: absolute;
    width: 365px;
    height: 39px;
    left: 540px;
    top: 3605px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    /* identical to box height, or 39px */
    color: #000000;
    z-index: 2
}

#icon2p {
    position: absolute;
    width: 365px;
    height: 63px;
    left: 539px;
    top: 3676px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    z-index: 2;
    color: #000000;
}

#icon2 {
    position: absolute;
    width: 399px;
    height: 160px;
    left: 520px;
    top: 3434px;
    z-index: 2;
}

#icondiv3 {
    position: absolute;
    width: 399px;
    height: 328px;
    left: 956px;
    top: 3434px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    z-index: auto;
}

#icon3h {
    position: absolute;
    width: 365px;
    height: 39px;
    left: 976px;
    top: 3605px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    /* identical to box height, or 39px */
    color: #000000;
    z-index: 2
}

#icon3p {
    position: absolute;
    width: 365px;
    height: 63px;
    left: 975px;
    top: 3676px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    z-index: 2;
    color: #000000;
}

#icon3 {
    position: absolute;
    width: 399px;
    height: 160px;
    left: 956px;
    top: 3434px;
    z-index: 2;
}

#icondiv4 {
    position: absolute;
    width: 399px;
    height: 328px;
    left: 84px;
    top: 3803px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    z-index: auto;
}

#icon4h {
    position: absolute;
    width: 365px;
    height: 39px;
    left: 104px;
    top: 3974px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    /* identical to box height, or 39px */
    color: #000000;
    z-index: 2
}

#icon4p {
    position: absolute;
    width: 365px;
    height: 63px;
    left: 103px;
    top: 4045px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    z-index: 2;
    color: #000000;
}

#icon4 {
    position: absolute;
    width: 399px;
    height: 160px;
    left: 84px;
    top: 3803px;
    z-index: 2;
}

#icondiv5 {
    position: absolute;
    width: 399px;
    height: 328px;
    left: 520px;
    top: 3803px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    z-index: auto;
}

#icon5h {
    position: absolute;
    width: 365px;
    height: 39px;
    left: 540px;
    top: 3974px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    /* identical to box height, or 39px */
    color: #000000;
    z-index: 2
}

#icon5p {
    position: absolute;
    width: 365px;
    height: 63px;
    left: 539px;
    top: 4045px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    z-index: 2;
    color: #000000;
}

#icon5 {
    position: absolute;
    width: 399px;
    height: 160px;
    left: 520px;
    top: 3803px;
    z-index: 2;
}

#icondiv6 {
    position: absolute;
    width: 399px;
    height: 328px;
    left: 956px;
    top: 3803px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    z-index: auto;
}

#icon6h {
    position: absolute;
    width: 365px;
    height: 39px;
    left: 976px;
    top: 3974px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    /* identical to box height, or 39px */
    color: #000000;
    z-index: 2
}

#icon6p {
    position: absolute;
    width: 365px;
    height: 63px;
    left: 975px;
    top: 4045px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    z-index: 2;
    color: #000000;
}

#icon6 {
    position: absolute;
    width: 399px;
    height: 160px;
    left: 956px;
    top: 3803px;
    z-index: 2;
}

#icondiv7 {
    position: absolute;
    width: 399px;
    height: 328px;
    left: 84px;
    top: 4176px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    z-index: 2;
}

#icon7 {
    position: absolute;
    width: 399px;
    height: 160px;
    left: 84px;
    top: 4176px;
    z-index: 2;
}

#icon7h {
    position: absolute;
    width: 365px;
    height: 39px;
    left: 104px;
    top: 4347px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    /* identical to box height, or 39px */
    color: #000000;
    z-index: 2
}

#icon7p {
    position: absolute;
    width: 365px;
    height: 63px;
    left: 103px;
    top: 4418px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    z-index: 2;
    color: #000000;
}

#icondiv8 {
    position: absolute;
    width: 399px;
    height: 328px;
    left: 520px;
    top: 4176px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    z-index: auto;
}

#icon8h {
    position: absolute;
    width: 365px;
    height: 71px;
    left: 540px;
    top: 4347px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    /* identical to box height, or 39px */
    color: #000000;
    z-index: 2
}

#icon8p {
    position: absolute;
    width: 365px;
    height: 63px;
    left: 539px;
    top: 4420px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */
    z-index: 2;
    color: #000000;
}

#icon8 {
    position: absolute;
    width: 399px;
    height: 160px;
    left: 520px;
    top: 4176px;
    z-index: 2;
}

#wrapper {
    position: absolute;
    width: 1440px;
    height: 780px;
    left: -1px;
    top: 4625px;
    background: #EFEFEF;
}

#card {
    position: absolute;
    width: 791px;
    height: 451px;
    left: 125px;
    top: 4843px;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}


/* ekaterina */
#section1 {
    position: absolute;
    width: 1440px;
    height: 780px;
    left: -1px;
    top: 4625px;
    background: #EFEFEF;
}

#sh1 {
    position: absolute;
    width: 987px;
    height: 93px;
    left: 72.97px;;
    top: 4716px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    /* or 56px */
    color: #000000;
}

.sh2 {
    /* position: absolute; */
    width: 717px;
    height: 416px;
    left: 125px;
    top: 4843px;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 116px;
}

.sh2 .parag {
    width: 700px;
    height: 203px;
    left: 170px;
    top: 4883px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    color: #000000;
    padding: 14px;
}

.sh2 .name {
    position: absolute;
    width: 353px;
    height: 59px;
    left: 50px;
    top: 442px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 101.38%;
    /* or 30px */
    color: #000000;
    margin-left: 270px;
}

.sh2 .fb {
    width: 32px;
    margin-left: 14px;
    margin-top: 78px;
}

#section2 {
    position: absolute;
    width: 1440px;
    height: 780px;
    left: -1px;
    top: 5405px;
    background: #9DC9C8;
    z-index: 1;
}

#sectionpar {
    z-index: 2;
}

#section2Header {
    position: absolute;
    width: 908px;
    height: 66px;
    left: 121px;
    top: 5584px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    /* or 56px */
    color: #000000;
    z-index: 2;
}

#section2Hedar4 {
    position: absolute;
    width: 170px;
    height: 32px;
    left: 121px;
    top: 5704px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
    /* or 25px */
    color: #000000;
    z-index: 2;
}

#scena {
    position: absolute;
    width: 481px;
    height: 181px;
    left: 121px;
    top: 5734px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 101.38%;
    /* or 81px */
    color: #000000;
    z-index: 2;
}

#section2Header41 {
    position: absolute;
    width: 294px;
    height: 32px;
    left: 121px;
    top: 5889px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
    /* or 25px */
    color: #000000;
    z-index: 2;
}

#section2h41p1 {
    position: absolute;
    width: 294px;
    height: 70px;
    left: 121px;
    top: 5930px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 101.38%;
    /* or 18px */
    color: #000000;
    z-index: 2;
}

#section2Header42 {
    position: absolute;
    width: 322px;
    height: 32px;
    left: 485px;
    top: 5889px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
    /* or 25px */
    color: #000000;
    z-index: 2;
}

#section2h42p2 {
    position: absolute;
    width: 294px;
    height: 70px;
    left: 485px;
    top: 5930px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 101.38%;
    /* or 18px */
    color: #000000;
    z-index: 2;
}

#section3 {
    position: absolute;
    width: 1440px;
    height: 390px;
    left: -1px;
    top: 6185px;
    background: #000000;
    z-index: 2;
}

#section3par {
    z-index: 2;
}

#sinc1 {
    position: absolute;
    width: 115px;
    height: 68px;
    left: 121px;
    top: 6235px;
    z-index: 3;
}


/* footer */

#section3 {
    position: absolute;
    width: 1440px;
    height: 390px;
    left: -1px;
    top: 6185px;
  
    background: #000000;
    z-index: 2;
  }
  
  #section3par {
    z-index: 2;
  }
  
  
  #sinc1 {
    position: absolute;
    width: 115px;
    height: 68px;
    left: 121px;
    top: 6235px;
    z-index: 2;
  }
  
  #instagramLogo {
    position: absolute;
    width: 33px;
    height: 33px;
    left: 121px;
    top: 6333px;
    z-index: 2;
  
  }
  
  #fbLogo {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 172px;
    top: 6333px;
    z-index: 2;
  
  }
  
  #vkLogo {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 225px;
    top: 6331px;
    z-index: 2;
  
  }
  
  #viberLogo {
    position: absolute;
    width: 34px;
    height: 34px;
    left: 285px;
    top: 6332px;
    z-index: 2;
  
  }
  
  #wphone {
    position: absolute;
    width: 27px;
    height: 27px;
    left: 975px;
    top: 6239px;
    z-index: 2;
  
  }
  
  #wmail {
    position: absolute;
    width: 27px;
    height: 18px;
    left: 975px;
    top: 6291px;
    z-index: 2;
  
  }
  
  #phoneNum {
    position: absolute;
    width: 230px;
    height: 40px;
    left: 1024px;
    top: 6244px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
    /* or 25px */
  
  
    color: #FFFFFF;
    z-index: 2;
  }
  
  #mailAdress {
    position: absolute;
    width: 269px;
    height: 40px;
    left: 1024px;
    top: 6287px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
    /* or 25px */
  
  
    color: #FFFFFF;
    z-index: 2;
  }
  
  #corp {
    position: absolute;
    width: 230px;
    height: 40px;
    left: 121px;
    top: 6512px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 101.38%;
    /* or 18px */
  
  
    color: #FFFFFF;
    z-index: 2;
  }