@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

body {
  width: 1440px;
  height: 6575px;
}

#image1 {
  box-sizing: border-box;

  position: absolute;
  width: 112px;
  height: 66px;
  left: 121px;
  top: 21px;

  background: url(logo_mobile_black.png);
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#globe {
  position: absolute;
  width: 22px;
  height: 21px;
  left: 121px;
  top: 184px;
}

#onlinecourse {
  position: absolute;
  width: 130px;
  height: 32px;
  left: 151px;
  top: 170px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* or 23px */

  color: #000000;
}

#clock {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 306px;
  top: 183px;

  background: url(img_135744.png);
}

#clocktxt {
  position: absolute;
  width: 130px;
  height: 32px;
  left: 338px;
  top: 170px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* or 23px */

  color: #000000;
}

#calendar {
  box-sizing: border-box;

  position: absolute;
  width: 20px;
  height: 22px;
  left: 467px;
  top: 183px;

  background: url(calendar_2.png);
  border: 1px solid #000000;
}

#ecent {
  position: absolute;
  width: 130px;
  height: 32px;
  left: 500px;
  top: 170px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* or 23px */

  color: #000000;
}

h1 {
  position: absolute;
  width: 628px;
  height: 190px;
  left: 122px;
  top: 248px;

  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 101.38%;
  /* or 81px */

  color: #000000;
}

#ellipse {
  position: absolute;
  width: 0px;
  height: 41px;
  left: 921px;
  top: 558px;

  background: #efefef;
}

#naroot1 {
  position: absolute;
  width: 304px;
  height: 356px;
  left: 890px;
  top: 223px;

  background: url(noroot.png);
}

#p1 {
  position: absolute;
  width: 414px;
  height: 62px;
  left: 122px;
  top: 450px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  color: #000000;
}

#bluegorup {
  position: absolute;
  width: 483.63px;
  height: 200.02px;
  left: 409.39px;
  top: 666.62px;

}

#p2 {
  position: absolute;
  width: 430.59px;
  height: 113px;
  left: 435.42px;
  top: 667.88px;

  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  /* or 32px */

  color: #ffffff;
}

#p3 {
  position: absolute;
  width: 280.5px;
  height: 45.64px;
  left: 594px;
  top: 811px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */

  text-align: right;

  color: #ffffff;
}

#rectangle {
  position: absolute;
  width: 483.63px;
  height: 200px;
  left: 409.39px;
  top: 666.62px;

  background: #1E4681;
  border-radius: 5px;
}

#h2 {
  position: absolute;
  width: 365px;
  height: 93px;
  left: 121px;
  top: 1040px;

  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 101.38%;
  /* or 56px */


  color: #000000;
}

#p4 {
  position: absolute;
  width: 662px;
  height: 374px;
  left: 121px;
  top: 1151px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */


  color: #000000;
}

#cameraman {
  position: absolute;
  width: 314px;
  height: 315px;
  left: 973px;
  top: 1175px;

  background: url(_1.png);
}

#photo1 {
  position: absolute;
  width: 232px;
  height: 203px;
  left: 121px;
  top: 1619px;

  background: url(photo.png);
}

#h31 {
  position: absolute;
  width: 150px;
  height: 39px;
  left: 485px;
  top: 1689px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  /* or 32px */


  color: #000000;

}

#h32 {
  position: absolute;
  width: 150px;
  height: 39px;
  left: 730px;
  top: 1689px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  /* or 32px */


  color: #000000;
}

#h33 {
  position: absolute;
  width: 150px;
  height: 39px;
  left: 973px;
  top: 1689px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  /* or 32px */


  color: #000000;

}

#p51 {
  position: absolute;
  width: 150px;
  height: 39px;
  left: 485px;
  top: 1729px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */


  color: #000000;


}

#p52 {
  position: absolute;
  width: 150px;
  height: 39px;
  left: 730px;
  top: 1729px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */


  color: #000000;

}

#p53 {
  position: absolute;
  width: 150px;
  height: 39px;
  left: 973px;
  top: 1729px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */


  color: #000000;
}

#divh3 {
  position: absolute;
  width: 667px;
  height: 93px;
  left: 121px;
  top: 2000px;

  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 101.38%;
  /* or 56px */


  color: #000000;
}

#divh41 {
  position: absolute;
  width: 150px;
  height: 39px;
  left: 122px;
  top: 2182px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  /* or 32px */


  color: #1E4681;

}

#divh42 {
  position: absolute;
  width: 214px;
  height: 39px;
  left: 467px;
  top: 2182px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  /* or 32px */


  color: #1E4681;


}

#divh43 {

  position: absolute;
  width: 150px;
  height: 39px;
  left: 851px;
  top: 2182px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  /* or 32px */


  color: #1E4681;

}

#divp1 {
  position: absolute;
  width: 223px;
  height: 39px;
  left: 122px;
  top: 2240px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */


  color: #000000;
}

#divp2 {
  position: absolute;
  width: 271px;
  height: 109px;
  left: 467px;
  top: 2240px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */


  color: #000000;
}

#divp3 {
  position: absolute;
  width: 245px;
  height: 39px;
  left: 851px;
  top: 2240px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */


  color: #000000;
}

#listDivul {
  position: absolute;
  width: 662px;
  height: 374px;
  left: 138px;
  top: 2624px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */


  color: #000000;
}

#listDivh {
  position: absolute;
  width: 667px;
  height: 93px;
  left: 121px;
  top: 2510px;

  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 101.38%;
  /* or 56px */


  color: #000000;
}



