@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab:wght@400;700&display=swap");
body {
  width: 1440px;
  height: 6575px;
}

#image1 {
  box-sizing: border-box;

  position: absolute;
  width: 112px;
  height: 66px;
  left: 121px;
  top: 21px;

  background: url(logo_mobile_black.png);
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#globe {
  position: absolute;
  width: 22px;
  height: 21px;
  left: 121px;
  top: 184px;
}

#onlinecourse {
  position: absolute;
  width: 130px;
  height: 32px;
  left: 151px;
  top: 170px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* or 23px */

  color: #000000;
}

#clock {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 306px;
  top: 183px;

  background: url(img_135744.png);
}

#clocktxt {
  position: absolute;
  width: 130px;
  height: 32px;
  left: 338px;
  top: 170px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* or 23px */

  color: #000000;
}

#calendar {
  box-sizing: border-box;

  position: absolute;
  width: 20px;
  height: 22px;
  left: 467px;
  top: 183px;

  background: url(calendar_2.png);
  border: 1px solid #000000;
}
#ecent {
  position: absolute;
  width: 130px;
  height: 32px;
  left: 500px;
  top: 170px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* or 23px */

  color: #000000;
}

h1 {
  position: absolute;
  width: 628px;
  height: 190px;
  left: 122px;
  top: 248px;

  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 101.38%;
  /* or 81px */

  color: #000000;
}

#naroot1 {
  position: absolute;
  width: 304px;
  height: 356px;
  left: 890px;
  top: 223px;

  background: url(noroot.png);
}

#ellipse {
  position: absolute;
  width: 274px;
  height: 41px;
  left: 921px;
  top: 558px;

  background: #efefef;
}
#p1 {
  position: absolute;
  width: 414px;
  height: 62px;
  left: 122px;
  top: 450px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  color: #000000;
}

#bluegorup {
  position: absolute;
  width: 483.63px;
  height: 200px;
  left: 409.39px;
  top: 666.62px;

  background: #1e4681;
  border-radius: 5px;
}
